#pragma once

#define WIFI_SSID     "your-wifi-ssid"
#define WIFI_PASSWORD "your-wifi-password"

#define FAST2SMS_API_KEY "paste-your-fast2sms-api-key-here"

#define ALERT_PHONE_NUMBERS "9999999999,8888888888"
